<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>IPL Web Application</title>
</head>
<body>
<h1>Team Vs Team</h1>
<form action="/teamvteam" method=="get">

    <label>Select Team 1</label>
    <select name="team1">
        {% for item in teams %}
            <option>{{ item }}</option>
        {% endfor %}
    </select><br><br><br>


    <label>Select Team 2</label>
    <select name="team2">
        {% for item in teams %}
            <option>{{ item }}</option>
        {% endfor %}
    </select><br><br>

    <input type="submit" value="Find Track Record">

</form>

{% if result %}
    <ul>
        {% for key, value in result.items() %}
            <li>{{ key }}: {{ value }}</li>
        {% endfor %}
    </ul>
{% endif %}
</body>
</html>l>